/*TITULARES INDEX*/
#titularPrincipal{
    grid-area: titularPrincipal;
    div{
        .copete{
            @include copete_index;
            transform: translate(20px, 30px);
            display: inline-block; 
        }
        a{
            .imagenPrincipal{
                width: 1050px;
            }
        }
        .decoration{
            text-decoration: none;
            color: $text_black;
            .tituloPrincipal{
                width: 800px;       
                text-align: center;    
                font-family: $font_impact;
                font-size: 70px;
                text-shadow: $text_shadow;
                color: $text_white;
                display: inline-block;
                transform: translate(120px, -300px);
                text-align: center;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .subtituloPrincipal{
            transform: translate(120px, -280px);
            left: 220px;
            width: 800px;   
            text-align: center;    
            font-family: $font_arial;
            font-size: 12px ;
            text-shadow: $text_shadow;
            color: $text_white;
        }
    }
}
#titularSecundario{
    grid-area: titularSecundario;
    display: grid;
    justify-content: flex-start;        
    font-family: $font_impact;
    div{
        a{
            .imagenTitulo2{
                width: 348px; 
                transform: translate(-1px, 0px);
            }
        }
    }
    div{
        .copete2{
            width: 300px;
            @include copete_index;
            transform: translate(4px, -199px);
        }
    }
    div{
        .decoration{
            text-decoration: none;
            color: $text_black;
            .titulo2{
                width: 350px;
                height: 50px;
                color: $text_black;                
                transform: translate(0px, -82px); 
                text-align: left;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
#titularSecundario2{
    grid-area: titularSecundario2;
    display: grid;
    justify-content: flex-start;
    font-family: $font_impact;
    div{
        a{
            .imagenTitulo3{
                width: 350px;   
                transform: translate(0px, 0px)
            }
        }
    }
    div{
        .copete3{
            @include copete_index;
            transform: translate(4px, -170px);
        }
    }
    div{
        .decoration{
            text-decoration: none;
            color: $text_black;
            .titulo3{
                width: 290px;
                color: $text_black;    
                transform: translate(0px, -20px);
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .subtitulo3{
            width: 357px;
            text-align: left;    
            font-family: $font_arial;
            font-size: 16px;   
            transform: translate(0px, -26px);
        }
    }
}