/*ARTICULO*/  
#articulo{
    grid-area: articulo;
    #notaPartido{        
        .divNota{
            display: grid;        
            grid-template-rows: 50px 150px 80px 450px 80px 160px 80px auto 410px auto auto 450px;
            div{
                .copeteNota{
                    @include copete;                    
                }
            }
            div{
                .titular{
                    @include titular;
                }
            }
            #cajaSubtitulo{
                @include subtitulo;
            }        
            .fotoArticulo{
                width: 900px;
            }
            .cajaPie{
                @include pieFoto;
            }
            .marcador-partido{
                @include marcador;
            }
            .notaPeriodistica{
                @include nota; 
            }
            .videoResumen{
                .resumenPartido{
                    @include videoResumen;
                }
            }
            .alineaciones{
                width: 900px;
                height: 1100px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: stretch;
                .alineacion-visitante{
                    transform: translateY(-24px);
                }                
            }
            .cronologia{
                overflow: auto;
            }
        }
    }
    #cajaComentarios{
        @include cajaComentarios;
    }
} 