/*ESTADISTICAS*/
#tablaGrupo{
    grid-area: tablaGrupo;    
    div{
        .tituloEstadisticas{
            font-family: $font_impact;
        }
        .nombreTorneo{
            font-family: $font_arial;
            font-weight: normal;
        }
    }
    table{
        tr{
            .celda-grupo{
                background-color: $bg_yg;
                width: 616px;
                font-size: 15px;
                font-weight: bold;
                text-align: left;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 6px;
            }
        }
        tr{
            .columnaPos{
                background-color: $bg_light_gray;
                width: 50px;
                text-align: left;
                display: inline-block;
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 6px;
            }
            .columnaEquipo{
                @extend .columnaPos;
                width: 231px;
                height: 32px;    
                text-align: center;                
                padding-top: 7px;                
            }
            .columnaPts{
                @extend .columnaPos;                
                text-align: center; 
            }
            .columnaJGEP{
                @extend .columnaPos;  
                width: 57px;
                text-align: center;
            }
        }
        tr{
            .celdaPos{
                width: 50px;
                text-align: left;
                display: inline-block;
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 6px;
            }
            .celdaEquipo{
                @extend .celdaPos;
                width: 231px;
                text-align: center;
            }
            .celdaPts{
                @extend .celdaPos;
                text-align: center;    
                
            }
            .celdaJGEP{
                @extend .celdaPos;
                width: 57px;
                text-align: center;
            }
        }
        tr{
            .celdaPosGris{
                @extend .celdaPos;
                background-color: $bg_light;
            }
            .celdaEquipoGris{
                @extend .celdaPos;
                background-color: $bg_light;   
                width: 231px;
                text-align: center;
            }
            .celdaPtsGris{
                @extend .celdaPos;
                background-color: $bg_light;
                text-align: center;    
            }
            .celdaJGEPGris{
                @extend .celdaPos;
                background-color: $bg_light;
                width: 57px;
                text-align: center;
            }
        }        
    }
}