/*      
***
*INICIO MODELO RESPONSIVE
***
*Aplicando Media Queries 
*para las diferentes páginas
***
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*INDEX*/
@media (min-width: 0px) and (max-width: 425px) {
    #padreIndex{
        display: grid;
        grid-template-areas: 
                            "cabecera navegador  " 
                            ". aside "
                            ". titulares "
                            ". titulares "                            
                            "footer footer " 
                            ;
        grid-template-columns: 10px 415px;
        grid-template-rows: 100px 80px 720px 360px 400px;
        grid-row-gap: 15px;
        grid-column-gap: 10px;        
    }
    /*Header*/
    #cabecera{
        display: grid;
        grid-area: cabecera;
        z-index: 3;
        .logoSportia{
            display: flex;
            width: 60px;
            height: 60px;   
            justify-items: center;           
            transform: translateY(10px);            
        } 
    }        
    /*Nav*/
    #navegador{        
        grid-area: navegador;       
        .menuNav{         
            width: 360px;   
            transform: translate(20px, 10px); 
            position: fixed;
            display: flex;
            flex-direction: row;
            justify-content: space-between;            
            z-index: 3;
            ul{
                li{
                    a{
                        .stat-icon{
                            width: 30px;
                        }
                        .textoNav{
                            display: none;
                        }
                    }
                    li{
                        a{
                            .calendario-icon{
                                width: 30px;
                            }
                        } 
                    }   
                }
            }                   
            .suscribirme {
                background-color: $text_black;
                color: $text_white;
                font-size: 12px;
                font-family: $font_arial;
                padding: 10px 10px 10px 10px;   
                text-decoration: none;
                transform: translateY(3px);               
            }
        }       
    }
    /*Aside*/    
    #publicidad{
        grid-area: aside;
        .bannerPublicitario{
            width: 400px;
        }
    }
    /*MAIN*/
    #titulares{
        grid-area: titulares; 
        width: 450px;       
        #titularPrincipal{                    
            div{                
                width: 400px;
                transform: translateY(0px);                
                a{
                    .imagenPrincipal{
                        width: 400px;
                        transform: translateY(-29px);
                        position: relative;
                        z-index: 1;
                    }
                }
                .copete{
                    width: 300px;                    
                    transform: translateX(10px); 
                    position: relative; 
                    z-index: 2;     
                }
                .decoration{
                    .tituloPrincipal{
                        width: 400px;
                        color: black;
                        transform: translate(0px, -30px);
                        font-size: 25px;
                        text-shadow: none;
                        text-align: left;
                    }
                }            
                .subtituloPrincipal{        
                    width: 400px;
                    font-size: 14px;
                    text-align: left;
                    color: black;
                    text-shadow: none;
                    transform: translate(0px, -30px);
                    line-height: 20px;
                }
            }
        }
        #titularSecundario{        
            .cajaTitular{
                width: 400px;
                transform: translateY(-10px);
                a{
                    .imagenTitulo2{
                        width: 400px;      
                    }
                }
                .copete2{
                    transform: translate(10px, -190px);
                }
                .decoration{
                    .titulo2{
                        width: 400px;
                        color: black;
                        transform: translateY(-20px);
                        font-size: 25px;
                        text-shadow: none;
                    }
                }
            }
        }
        #titularSecundario2{      
            .cajaTitular2{
                width: 400px;
                height: 340px;
                transform: translateY(0px);
                a{
                    .imagenTitulo3{
                        display: inline-block;
                        position: absolute;
                        width: 400px;
                    }
                }
                .copete3{
                    width: 400px;
                    transform: translate(10px, 5px);
                }
                .decoration{
                    .titulo3{
                        width: 400px;
                        color: black;
                        transform: translateY(176px);
                        font-size: 25px;
                        text-shadow: none;
                    }
                }
                .subtitulo3{
                    width: 400px;
                    font-size: 14px;
                    text-align: left;
                    color: black;
                    text-shadow: none;
                    transform: translateY(180px);
                    line-height: 20px;
                }
            } 
        }   
    }   
}

/*ARTICULO*/
@media (min-width: 0px) and (max-width: 425px) {
    #padreArticulo{
        display: grid;
        grid-template-areas: "cabecera navegador"  
                            ". articulo " 
                            "footer footer  ";
        grid-template-columns: 10px 415px ;
        grid-template-rows: 100px auto 400px;
        grid-row-gap: 40px;
    }
    
    /*Articulo*/
    #articulo{
        grid-area: articulo;
        #notaPartido{
            display: flex;            
            .divNota{        
                display: grid;
                grid-template-rows: 50px auto 140px 200px 50px 110px 85px auto 260px 50px auto 250px;
                div{
                    .copeteNota{
                        width: 275px;
                        font-size: 11px;
                        padding-top: 10px;
                        padding-right: 18px;
                        padding-bottom: 10px;
                        padding-left: 18px;
                    }
                }
                div{
                    .titular{
                        width: 410px;
                        font-size: 35px;
                    }
                }
                #cajaSubtitulo{
                    width: 402px;
                }
                .fotoArticulo{
                    width: 400px;
                }
                .cajaPie{
                    width: 400px;
                    font-size: 12px;
                }         
                .marcador-partido{
                    @include marcador;
                    width: 400px;
                    height: 100px;
                    grid-template-columns: 350px 200px 350px;
                    .equipo-local{
                        transform: translate(5px, -20px);
                        width: 140px;
                        font-size: 15px;
                        .escudo{
                            width: 60px;
                            height: 60px;
                        }
                    }
                    .resultado{
                        transform: translate(-200px, -25px);
                        width: 100px;
                        height: 100px;
                        font-size: 35px;
                    }
                    .equipo-visitante{
                        transform: translate(-300px, -20px);
                        width: 140px;
                        font-size: 15px;
                        .escudo{
                            width: 60px;
                            height: 60px;
                        }
                    }
                    span{   
                        .goles-local{
                            background-color: black;
                            transform: translate(5px, -65px);
                            display: none;
                        }                     
                        .goles-visitante{
                            background-color: black;
                            transform: translate(250px, -131px);
                            display: none;
                        }
                    }
                }  
                #fecha-nota{
                    width: 400px;
                } 
                .notaPeriodistica{
                    width: 300px;
                }
                .videoResumen{
                    .title-franklin{
                        font-family: $font_franklin;
                    }
                    iframe{
                        width: 300px;
                        height: 200px;
                    }
                }  
                .alineaciones{
                    width: 300px;
                    height: auto;
                    
                }
                .cronologia{
                    overflow: auto;                    
                }          
            }    
        }
        #cajaComentarios{
            display: flex;
            .comentarios{          
                display: grid;
                grid-template-rows: 30px 50px 100px ;
                .title-impact{
                    font-family: $font_impact;
                }
                form{
                    .area-texto{
                        width: 300px;
                        height: 50px;
                    }                
                }
            }
        }
    }  

    /*Footer*/
    #piePagina{
        grid-area: footer;
        display: flex;
        align-content: center;
        flex-direction: row;
        justify-items: flex-start;
        width: 425px; 
        .contacto{        
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 500px;
            height: 250px;        
            font-size: 20px;
            text-align: center; 
            div{
                .iconoRedes{
                    width: 25px;
                    height: 25px;
                 }                   
            }    
        }
        .columnaFooter {
            display: none;
        }
    }     

}

/*ESTADISTICAS*/
@media (min-width: 0px) and (max-width: 425px) {
    #padreStats{
        display: grid;
        grid-template-areas:"cabecera navegador"
                            ". tablaGrupo "                            
                            "footer footer";
        grid-template-rows: 100px 1200px 470px;
        grid-template-columns: 10px 415px;    
        grid-row-gap: 50px;
    }  

    /*TABLAS*/
    #tablaGrupo{
        grid-area: tablaGrupo;
        grid-template-rows: 90px 516px 516px;
        table{
            tr{
                .celda-grupo{
                    width: 274px;
                }
            }
            tr{
                .columnaPos{
                    width: 46px;
                }
                .columnaEquipo{
                    width: 178px;
                }
                .columnaPts{
                    width: 50px;
                }
                .columnaJGEP{
                    display: none
                }
            }
            tr{
                .celdaPos{
                    width: 46px;
                }
            
                .celdaEquipo{
                    width: 178px;
                }
            
                .celdaPts{
                    width: 50px;
                }
                .celdaJGEP{
                    display: none;
                }
            }
            tr{
                .celdaPosGris{
                    width: 46px;
                }
            
                .celdaEquipoGris{
                    width: 178px;
                }            
                .celdaPtsGris{
                    width: 50px;
                }
                .celdaJGEPGris{
                    display: none;
                }
            }  
        }     
    }    
}

/*AGENDA*/
@media (min-width: 0px) and (max-width: 425px) {
    #padreAgenda{
        display: grid;
        grid-template-areas:"cabecera navegador "
                            ". agenda "
                            "footer footer ";
        grid-template-rows: 100px 2250px 470px;
        grid-template-columns: 10px 310px;    
        grid-row-gap: 10px;
    }    
    #agenda{
        grid-area: agenda;
        width: 360px;
        display: grid;
        grid-template-rows: 580px 100px 40px 80px 1450px;
        #encabezadoAgenda{
            width: 300px;
            height: 30px;
            line-height: 30px;            
            div{
                .tituloAgenda{
                    width: 300px;                    
                }
            }
            div{
                .subtituloAgenda{
                    width: 300px;                    
                }
            }            
        }
        #selector{           
            width: 300px;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            z-index: 2;
        }        
        #cajaAgenda{
            width: 300px;
            z-index: 1;
            .eventosAgenda{
                div{
                    table{
                        .horario{
                            display: block;
                        }
                        .celdaAgenda{
                            width: 350px;
                            transform: translateX(0px);
                            font-size: 12px;
                            .vs{
                                transform: translateX(-100px);
                            }
                        }
                    }
                }
            }                          
        }
    }                
}

/*FORMULARIOS*/
@media (min-width: 0px) and (max-width: 425px) {
    #padreForm{
        display: grid;
        grid-template-rows: 100px 500px 470px;
        grid-template-columns: 10px 310px;
        grid-template-areas:
                            "cabecera navegador"
                            ".  formulario"
                            "footer footer";        
        grid-row-gap: 10px;}

    #formulario{
        grid-area: formulario;
        #formularioSuscribe{        
            display: flex;
            justify-content: flex-end;
            padding-top: 50px;
            transform: translate(10px, -80px);
            #caja-form-principal{   
                display: grid;
                grid-template-rows: 50px 300px;
                padding-top: 15px;
            }
        }
    }        

    .fondo-form{
        background-image: url(../img/fondo-formulario.jpg);
        background-repeat: no-repeat;
        background-size: 319%;
        background-position: -170px 100px;
    }
}