/*      
***
*INICIO MODELO RESPONSIVE
***
*Aplicando Media Queries 
*para las diferentes páginas
***
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*INDEX*/
@media (min-width: 0px) and (max-width: 425px) {
    #padreIndex{
        display: grid;
        grid-template-areas: 
                            "cabecera navegador  " 
                            ". aside "
                            ". titularPrincipal "
                            ". titularSecundario "
                            ". titularSecundario2 "
                            "footer footer " 
                            ;
        grid-template-columns: 10px 415px;
        grid-template-rows: 100px 80px 360px 360px 360px 400px;
        grid-row-gap: 15px;
        grid-column-gap: 10px;        
    }
    /*Header*/
    #cabecera{
        display: grid;
        grid-area: cabecera;
        z-index: 3;
        .logoSportia{
            display: flex;
            width: 60px;
            height: 60px;   
            justify-items: center;           
            transform: translateY(10px);            
        } 
    }        
    /*Nav*/
    #navegador{        
        grid-area: navegador;       
        .menuNav{         
            width: 360px;   
            transform: translate(20px, 10px); 
            position: fixed;
            display: flex;
            flex-direction: row;
            justify-content: space-between;            
            z-index: 3;
            ul{
                li{
                    a{
                        .stat-icon{
                            width: 30px;
                        }
                        .textoNav{
                            display: none;
                        }
                    }
                    li{
                        a{
                            .calendario-icon{
                                width: 30px;
                            }
                        } 
                    }   
                }
            }                   
            .suscribirme {
                background-color: $text_black;
                color: $text_white;
                font-size: 12px;
                font-family: $font_arial;
                padding: 10px 10px 10px 10px;   
                text-decoration: none;
                transform: translateY(3px);               
            }
        }       
    }
    /*Aside*/    
    #publicidad{
        grid-area: aside;
        .bannerPublicitario{
            width: 400px;
        }
    }
    /*Titulares*/
    #titularPrincipal{        
        grid-area: titularPrincipal; 
        div{
            .copete{
                width: 300px;
                transform: translate(10px, 25px);       
            }
            a{
                .imagenPrincipal{
                    width: 400px;
                }
            }
            .decoration{
                .tituloPrincipal{
                    width: 400px;
                    color: black;
                    transform: translateX(0px);
                    font-size: 25px;
                    text-shadow: none;
                    text-align: left;
                }
            }            
            .subtituloPrincipal{        
                width: 400px;
                font-size: 14px;
                text-align: left;
                color: black;
                text-shadow: none;
                transform: translate(0px, 5px);
                line-height: 20px;
            }
        }
    }
    #titularSecundario{        
        grid-area: titularSecundario;  
        div{
            a{
                .imagenTitulo2{
                    width: 400px;      
                }
            }
        }
        div{
            .copete2{
                transform: translate(10px, -220px);
            }
        }
        div{
            .decoration{
                .titulo2{
                    width: 400px;
                    color: black;
                    transform: translateY(-75px);
                    font-size: 25px;
                    text-shadow: none;
                }
            }
        }
    }
    section#titularSecundario2{        
        grid-area: titularSecundario2; 
        div{
            a{
                .imagenTitulo3{
                    display: inline-block;
                    position: absolute;
                    width: 400px;
                }
            }
        }
        div{
            .copete3{
                width: 400px;
                transform: translate(10px, -72px);
            }
        }
        div{
            .decoration{
                .titulo3{
                    width: 400px;
                    color: black;
                    transform: translateY(25px);
                    font-size: 25px;
                    text-shadow: none;
                }
            }
            .subtitulo3{
                width: 400px;
                font-size: 14px;
                text-align: left;
                color: black;
                text-shadow: none;
                transform: translateY(30px);
                line-height: 20px;
            }
        } 
    }        
}

/*ARTICULO*/
@media (min-width: 0px) and (max-width: 425px) {
    #padreArticulo{
        display: grid;
        grid-template-areas: "cabecera navegador"  
                            ". notaPartido  " 
                            ". cajaComentarios " 
                            "footer footer  ";
        grid-template-columns: 10px 315px ;
        grid-template-rows: 100px 3500px 170px 400px;
        grid-row-gap: 10px;
    }
    #padreArticulo2{
        display: grid;
        grid-template-areas:"cabecera navegador"
                            ". notaPartido  "
                            ". cajaComentarios  "
                            "footer footer  ";
    grid-template-columns: 10px 315px ;
    grid-template-rows: 100px 2000px 170px 400px;
    grid-row-gap: 10px;
    }
    #padreArticulo3{
        display: grid;
        grid-template-areas:"cabecera navegador  "
                            ". notaPartido "
                            ". cajaComentarios "
                            "footer footer ";
    grid-template-columns: 10px 315px ;
    grid-template-rows: 100px 2580px 170px 400px;
    grid-row-gap: 10px;
    }
    /*Articulo River*/
    #notaPartido{
        display: flex;
        grid-area: notaPartido;
        .divNota{        
            display: grid;
            grid-template-rows: 50px 140px 160px 150px 50px 2700px 800px;
            div{
                .copeteNota{
                    width: 250px;
                    font-size: 11px;
                    padding-top: 10px;
                    padding-right: 18px;
                    padding-bottom: 10px;
                    padding-left: 18px;
                }
            }
            div{
                .titular{
                    width: 310px;
                    font-size: 35px;
                }
            }
            #cajaSubtitulo{
                width: 302px;
            }
            .fotoArticulo{
                width: 300px;
            }
            .cajaPie{
                width: 300px;
                font-size: 12px;
            }            
            .notaPeriodistica{
                width: 300px;
            }
            .videoResumen{
                .title-franklin{
                    font-family: $font_franklin;
                }
                iframe{
                    width: 300px;
                    height: 200px;
                }
            }            
        }    
    }
    #cajaComentarios{
        display: flex;
        grid-area: cajaComentarios;
        .comentarios{          
            display: grid;
            grid-template-rows: 30px 45px 50px ;
            .title-impact{
                font-family: $font_impact;
            }
            form{
                .area-texto{
                    width: 300px;
                    height: 200px;
                }                
            }
        }
    }

    /*Artículo Racing*/
    #notaPartido{        
        display: flex;
        grid-area: notaPartido;
        #divNota2{      
            display: grid;
            grid-template-rows: 50px 180px 160px 150px 50px 1140px 800px;        
            div{
                .copeteNota{
                    width: 250px;
                    font-size: 11px;
                    padding-top: 10px;
                    padding-right: 18px;
                    padding-bottom: 10px;
                    padding-left: 18px;
                }
            }
            div{
                .titular{
                    width: 310px;
                    font-size: 35px;
                }
            }
            #cajaSubtitulo{
                width: 302px;
            }
            .fotoArticulo{
                width: 300px;
            }
            .cajaPie{
                width: 300px;
                font-size: 12px;
            }            
            .notaPeriodistica{
                width: 300px;
            }
            .videoResumen{   
                .title-franklin{
                    font-family: $font_franklin;
                }
                iframe{
                    width: 300px;
                    height: 200px;
                }
            }            
        }    
    }
    #cajaComentarios{
        display: flex;
        grid-area: cajaComentarios;
        .comentarios{          
            display: grid;
            grid-template-rows: 30px 45px 50px ;
            .title-impact{
                font-family: $font_impact;
            }
            form{
                .area-texto{
                    width: 300px;
                    height: 200px;
                }                
            }
        }
    }
    
    
    /*Artículo Banfield*/
    #notaPartido{
        display: flex;
        grid-area: notaPartido;
        #divNota3{        
            display: grid;
            grid-template-rows: 50px 135px 120px 155px 80px 1740px 700px;
            div{
                .copeteNota2{
                    width: 300px;
                    font-size: 11px;
                    padding-top: 10px;
                    padding-right: 18px;
                    padding-bottom: 10px;
                    padding-left: 18px;
                }
            }
            div{
                .titular{
                    width: 310px;
                    font-size: 35px;
                }
            }
            #cajaSubtitulo{
                width: 302px;
            }
            .fotoArticulo{
                width: 300px;
            }
            .cajaPie{
                width: 300px;
                font-size: 12px;
            }            
            .notaPeriodistica{
                width: 300px;
                .title-franklin{
                    font-family: $font_franklin;
                    font-weight: bold;
                }
            }
            .videoResumen{
                .title-franklin{
                    font-family: $font_franklin;
                }
                iframe{
                    width: 300px;
                    height: 200px;
                }
            }            
        }    
    }
    #cajaComentarios{
        display: flex;
        grid-area: cajaComentarios;
        .comentarios{          
            display: grid;
            grid-template-rows: 30px 65px 50px;
            .title-impact{
                font-family: $font_impact;
            }
            form{
                .area-texto{
                    width: 300px;
                    height: 30px;
                }                
            }
        }
    }
    
     /*Footer*/
     #piePagina{
        grid-area: footer;
        display: flex;
        align-content: center;
        flex-direction: row;
        justify-items: flex-start;
        width: 425px; 
        .contacto{        
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 500px;
            height: 250px;        
            font-size: 20px;
            text-align: center; 
            div{
                .iconoRedes{
                    width: 25px;
                    height: 25px;
                 }                   
            }    
        }
        .columnaFooter {
            display: none;
        }
    }     

}

/*ESTADISTICAS*/
@media (min-width: 0px) and (max-width: 425px) {
    #padreStats{
        display: grid;
        grid-template-areas:"cabecera navegador"
                            ". tablaGrupo "                            
                            "footer footer";
        grid-template-rows: 100px 1250px 470px;
        grid-template-columns: 10px 415px;    
        grid-row-gap: 50px;
    }  

    /*TABLAS*/
    #tablaGrupo{
        grid-area: tablaGrupo;
        grid-template-rows: 90px 516px 516px;
        table{
            tr{
                .celda-grupo{
                    width: 274px;
                }
            }
            tr{
                .columnaPos{
                    width: 46px;
                }
                .columnaEquipo{
                    width: 178px;
                }
                .columnaPts{
                    width: 50px;
                }
                .columnaJGEP{
                    display: none
                }
            }
            tr{
                .celdaPos{
                    width: 46px;
                }
            
                .celdaEquipo{
                    width: 178px;
                }
            
                .celdaPts{
                    width: 50px;
                }
                .celdaJGEP{
                    display: none;
                }
            }
            tr{
                .celdaPosGris{
                    width: 46px;
                }
            
                .celdaEquipoGris{
                    width: 178px;
                }
            
                .celdaPtsGris{
                    width: 50px;
                }
                .celdaJGEPGris{
                    display: none;
                }
            }  
        }     
    }    
}

/*AGENDA*/
@media (min-width: 0px) and (max-width: 425px) {
    #padreAgenda{
        display: grid;
        grid-template-areas:"cabecera navegador "
                            ". encabezadoAgenda "
                            ". selector "
                            ". cajaAgenda "
                            "footer footer ";
        grid-template-rows: 100px 630px 120px 1500px 470px;
        grid-template-columns: 10px 310px;    
        grid-row-gap: 10px;
    }    
    #encabezadoAgenda{
        width: 300px;
        height: 30px;
        line-height: 30px;
        .contAgenda{
            div{
                .tituloAgenda{
                    width: 300px;                    
                }
                .subtituloAgenda{
                    width: 300px;                    
                }
            }
        }
    }
    #selector{
        grid-area: selector;
        width: 300px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 2;
    }        
    #cajaAgenda{
        width: 300px;
        z-index: 1;
        div{
            .eventosAgenda{
                div{
                    table{
                        .horario{
                            display: block;
                        }
                        .celdaAgenda{
                            width: 350px;
                            transform: translateX(0px);
                            font-size: 12px;
                            .vs{
                                transform: translateX(-100px);
                            }
                        }
                    }
                }
            }            
        }                               
    }            
}
     


/*FORMULARIOS*/
@media (min-width: 0px) and (max-width: 425px) {
    #padreForm{
        display: grid;
        grid-template-rows: 100px 600px 470px;
        grid-template-columns: 10px 310px;
        grid-template-areas:
                            "cabecera navegador"
                            ".  formularioSuscribe"
                            "footer footer";        
        grid-row-gap: 10px;}

    #formularioSuscribe{
        grid-area: formularioSuscribe;
        display: flex;
        justify-content: flex-end;
        padding-top: 50px;
        #caja-form-principal{   
            display: grid;
            grid-template-rows: 50px 300px;
            padding-top: 15px;
        }
    }    

    .fondo-form{
        background-image: url(../img/fondo-formulario.jpg);
        background-repeat: no-repeat;
        background-size: 319%;
        background-position: -170px 100px;
    }
}